
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.table-of-contents, .table-of-contents ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.table-of-contents li {
  padding: .25rem;
}
